.mobile-navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // background: $background-color;
  background: #fff;
  z-index: map-get($z-index, 'navigation');
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  overflow: visible;
  display: flex !important;
  flex-direction: column;
}

.mobile-navigation-main {
  width: 100%;
  height: 60px;
  padding: 0 $s-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  
  @media (max-width: 350px) {
    padding: 0 calc($s-size * 0.5);
    height: 50px;
  }
}

.mobile-navigation-sec {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px $s-size;
  flex-wrap: wrap;
  
  @media (max-width: 350px) {
    padding: 5px calc($s-size * 0.5);
  }
}

.mobile-navigation-icons {
  display: flex;
  align-items: center;
  height: 100%;
}

.mobile-navigation-item {
  height: 100%;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
}

.mobile-navigation-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 $s-size;
  
  img {
    max-height: 40px;
    width: auto;
    
    @media (max-width: 350px) {
      max-height: 35px;
    }
  }
  
  h2 {
    margin: 0;
    font-size: 1.6rem;
    
    @media (max-width: 350px) {
      font-size: 1.4rem;
    }
  }
}

.mobile-navigation-search {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $paragraph-color;
  
  @media (max-width: 380px) {
    width: 100%;
    margin-top: 5px;
  }
}

.mobile-navigation-search-title {
  margin: .6rem;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  @media (max-width: 350px) {
    font-size: 90%;
  }
}

/* Mobile navigation icons */
.mobile-navigation-icon {
  padding: 0 0.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  color: $primary-dark;
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  
  &:focus {
    outline: none;
  }
}
